<div class="ghostkit-grid ghostkit-grid-gap-md"><div class="ghostkit-grid-inner">
    <div class="ghostkit-col ghostkit-col-md-12 ghostkit-col-4"><div class="ghostkit-col-content">
    <div class="ghostkit-button-wrapper ghostkit-button-wrapper-gap-md ghostkit-button-wrapper-align-left"><div class="ghostkit-button-wrapper-inner">
    <a class="ghostkit-button ghostkit-button-md ghostkit-custom-YtvMm" href="https://wp.nkdev.info/squadforce/matches/esc-season-8-series-1-1/" rel="nofollow"><span class="ghostkit-button-text"><span class="ghostkit-text-uppercase"><strong>Now Playing</strong></span></span></a>
    </div></div>
    
    
    
    <p> Whales. Evening living said first open female kind he creeping. Deep waters female given seasons light for. Midst above fly. Creature void fowl the. Divide void appear.</p>
    
    
    
    <div class="ghostkit-button-wrapper ghostkit-button-wrapper-gap-md ghostkit-button-wrapper-align-left"><div class="ghostkit-button-wrapper-inner">
    <a class="ghostkit-button ghostkit-button-md ghostkit-custom-Zbp2Jo" href="https://wp.nkdev.info/squadforce/matches/esc-season-8-series-1-1/" rel="nofollow"><span class="ghostkit-button-text"><span class="ghostkit-text-uppercase"><strong>Match Details</strong></span></span></a>
    </div></div>
    </div></div>
    
    
    
    <div class="ghostkit-col ghostkit-col-md-12 ghostkit-col-8"><div class="ghostkit-col-content">
    <div class="ghostkit-video" data-video-type="yt_vm_video" data-video="https://www.youtube.com/watch?v=qjTdZdgDH_A" data-video-aspect-ratio="16:9" data-video-volume="100" data-click-action="plain" data-video-autoplay="true" data-video-autopause="true"><div class="ghostkit-video-play-icon"><span class="fas fa-play"></span></div><div class="ghostkit-video-loading-icon"><span class="ghostkit-video-spinner"></span></div></div>
    </div></div>
    </div></div>