<nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-autohide">
    <div class="container">
    <div class="nk-nav-table">
    <a href="https://wp.nkdev.info/squadforce/" class="nk-nav-logo"><img src="/images/logo.svg" style="width: 197px; height: auto;" alt="" /></a>
    <ul id="menu-main-menu" class="nk-nav nk-nav-right d-none d-lg-table-cell" data-nav-mobile="#nk-nav-mobile">
    <li id="menu-item-1019" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children ghost_menu__item nk-drop-item ghost_menu__item--1019 menu-item-1019"><a href="#">Features</a>
    <ul class="dropdown sub-menu">
    <li id="menu-item-1002" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children nk-drop-item ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--1002 menu-item-1002"><a href="https://wp.nkdev.info/squadforce/blocks/">Blocks</a>
    <ul class="dropdown sub-menu">
    <li id="menu-item-1009" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--1009 menu-item-1009"><a href="https://wp.nkdev.info/squadforce/blocks/icon-box/">Icon Box</a></li>
    <li id="menu-item-1011" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--1011 menu-item-1011"><a href="https://wp.nkdev.info/squadforce/blocks/number-box/">Number Box</a></li>
    <li id="menu-item-1003" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--1003 menu-item-1003"><a href="https://wp.nkdev.info/squadforce/blocks/accordion/">Accordion</a></li>
    <li id="menu-item-1015" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--1015 menu-item-1015"><a href="https://wp.nkdev.info/squadforce/blocks/tabs/">Tabs</a></li>
    <li id="menu-item-1039" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--1039 menu-item-1039"><a href="https://wp.nkdev.info/squadforce/blocks/button/">Button</a></li>
    <li id="menu-item-1005" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--1005 menu-item-1005"><a href="https://wp.nkdev.info/squadforce/blocks/countdown/">Countdown</a></li>
    <li id="menu-item-1008" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--1008 menu-item-1008"><a href="https://wp.nkdev.info/squadforce/blocks/grid/">Grid</a></li>
    <li id="menu-item-1018" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--1018 menu-item-1018"><a href="https://wp.nkdev.info/squadforce/blocks/video/">Video</a></li>
    <li id="menu-item-1004" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--1004 menu-item-1004"><a href="https://wp.nkdev.info/squadforce/blocks/alert/">Alert</a></li>
    <li id="menu-item-1013" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--1013 menu-item-1013"><a href="https://wp.nkdev.info/squadforce/blocks/progress/">Progress</a></li>
    <li id="menu-item-1014" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--1014 menu-item-1014"><a href="https://wp.nkdev.info/squadforce/blocks/tables/">Tables</a></li>
    <li id="menu-item-1012" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--1012 menu-item-1012"><a href="https://wp.nkdev.info/squadforce/blocks/pricing-table/">Pricing Table</a></li>
    <li id="menu-item-1016" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--1016 menu-item-1016"><a href="https://wp.nkdev.info/squadforce/blocks/testimonial/">Testimonial</a></li>
    <li id="menu-item-1006" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--1006 menu-item-1006"><a href="https://wp.nkdev.info/squadforce/blocks/divider/">Divider</a></li>
    <li id="menu-item-1007" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--1007 menu-item-1007"><a href="https://wp.nkdev.info/squadforce/blocks/google-maps/">Google Maps</a></li>
    <li id="menu-item-1010" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--1010 menu-item-1010"><a href="https://wp.nkdev.info/squadforce/blocks/instagram/">Instagram</a></li>
    <li id="menu-item-1017" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--1017 menu-item-1017"><a href="https://wp.nkdev.info/squadforce/blocks/twitter/">Twitter</a></li>
    </ul>
    </li>
    <li id="menu-item-454" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--454 menu-item-454"><a href="https://wp.nkdev.info/squadforce/widgets/">Widgets</a></li>
    <li id="menu-item-955" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--955 menu-item-955"><a href="https://wp.nkdev.info/squadforce/content-formatting/">Content Formatting</a></li>
    <li id="menu-item-1001" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--1001 menu-item-1001"><a href="https://wp.nkdev.info/squadforce/animate-on-scroll/">Animate on Scroll</a></li>
    <li id="menu-item-967" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--967 menu-item-967"><a href="https://wp.nkdev.info/squadforce/forms/">Forms</a></li>
    <li id="menu-item-374" class="menu-item menu-item-type-post_type_archive menu-item-object-forum menu-item-has-children nk-drop-item ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--374 menu-item-374"><a href="https://wp.nkdev.info/squadforce/forums/">bbPress Forums</a>
    <ul class="dropdown sub-menu">
    <li id="menu-item-1020" class="menu-item menu-item-type-post_type_archive menu-item-object-forum ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--1020 menu-item-1020"><a href="https://wp.nkdev.info/squadforce/forums/">Forums</a></li>
    <li id="menu-item-375" class="menu-item menu-item-type-post_type menu-item-object-forum ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--375 menu-item-375"><a href="https://wp.nkdev.info/squadforce/forums/forum/main-game-discussions/">Topics</a></li>
    <li id="menu-item-873" class="menu-item menu-item-type-custom menu-item-object-custom ghost_menu__sub-menu__item ghost_menu__sub-menu--2__item ghost_menu__item--873 menu-item-873"><a href="https://wp.nkdev.info/squadforce/forums/topic/suggestion/">Single Topic</a></li>
    </ul>
    </li>
    <li id="menu-item-455" class="menu-item menu-item-type-custom menu-item-object-custom ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--455 menu-item-455"><a href="https://wp.nkdev.info/squadforce/404">404 Page</a></li>
    </ul>
    </li>
    <li id="menu-item-239" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children ghost_menu__item nk-drop-item ghost_menu__item--239 menu-item-239"><a href="https://wp.nkdev.info/squadforce/blog-grid/">Blog</a>
    <ul class="dropdown sub-menu">
    <li id="menu-item-243" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--243 menu-item-243"><a href="https://wp.nkdev.info/squadforce/news/">News</a></li>
    <li id="menu-item-245" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--245 menu-item-245"><a href="https://wp.nkdev.info/squadforce/blog-grid/">Blog Grid</a></li>
    <li id="menu-item-240" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--240 menu-item-240"><a href="https://wp.nkdev.info/squadforce/blog-list/">Blog List</a></li>
    <li id="menu-item-247" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--247 menu-item-247"><a href="https://wp.nkdev.info/squadforce/blog-fullwidth/">Blog Fullwidth</a></li>
    <li id="menu-item-248" class="menu-item menu-item-type-post_type menu-item-object-post ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--248 menu-item-248"><a href="https://wp.nkdev.info/squadforce/grab-your-sword-and-fight-the-horde/">Single Post</a></li>
    </ul>
    </li>
    <li id="menu-item-241" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__item ghost_menu__item--241 menu-item-241"><a href="https://wp.nkdev.info/squadforce/gallery/">Gallery</a></li>
    <li id="menu-item-752" class="menu-item menu-item-type-post_type_archive menu-item-object-team menu-item-has-children ghost_menu__item nk-drop-item ghost_menu__item--752 menu-item-752"><a href="https://wp.nkdev.info/squadforce/teams/">eSports</a>
    <ul class="dropdown sub-menu">
    <li id="menu-item-755" class="menu-item menu-item-type-post_type_archive menu-item-object-team ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--755 menu-item-755"><a href="https://wp.nkdev.info/squadforce/teams/">Teams</a></li>
    <li id="menu-item-754" class="menu-item menu-item-type-post_type_archive menu-item-object-player ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--754 menu-item-754"><a href="https://wp.nkdev.info/squadforce/players/">Players</a></li>
    <li id="menu-item-768" class="menu-item menu-item-type-post_type_archive menu-item-object-tournament ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--768 menu-item-768"><a href="https://wp.nkdev.info/squadforce/tournaments/">Tournaments</a></li>
    <li id="menu-item-771" class="menu-item menu-item-type-post_type_archive menu-item-object-match ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--771 menu-item-771"><a href="https://wp.nkdev.info/squadforce/matches/">Matches</a></li>
    <li id="menu-item-753" class="menu-item menu-item-type-post_type_archive menu-item-object-game ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--753 menu-item-753"><a href="https://wp.nkdev.info/squadforce/games/">Games</a></li>
    </ul>
    </li>
    <li id="menu-item-443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children ghost_menu__item nk-drop-item ghost_menu__item--443 menu-item-443"><a href="https://wp.nkdev.info/squadforce/shop/">Shop</a>
    <ul class="dropdown sub-menu">
    <li id="menu-item-560" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--560 menu-item-560"><a href="https://wp.nkdev.info/squadforce/store/">Store</a></li>
    <li id="menu-item-444" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--444 menu-item-444"><a href="https://wp.nkdev.info/squadforce/shop/">Catalog</a></li>
    <li id="menu-item-445" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--445 menu-item-445"><a href="https://wp.nkdev.info/squadforce/action-games/">Catalog alt</a></li>
    <li id="menu-item-446" class="menu-item menu-item-type-post_type menu-item-object-product ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--446 menu-item-446"><a href="https://wp.nkdev.info/squadforce/product/just-then-her-head/">Product</a></li>
    <li id="menu-item-448" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--448 menu-item-448"><a href="https://wp.nkdev.info/squadforce/checkout/">Checkout</a></li>
    <li id="menu-item-449" class="menu-item menu-item-type-post_type menu-item-object-page ghost_menu__sub-menu__item ghost_menu__sub-menu--1__item ghost_menu__item--449 menu-item-449"><a href="https://wp.nkdev.info/squadforce/cart/">Cart</a></li>
    </ul>
    </li>
    {% for nav in site.data.nav.nav1 %}
    <li id="menu-item-{{ nav.id }}" class="{{ nav.class }} ghost_menu__item--{{ nav.id }} menu-item-{{ nav.id }}">
    <a {% if nav.linktarget And nav.linktarget != "" And nav.linktarget != nil %}target="{{ nav.linktarget }}" {% endif %}href="{{ nav.link }}">{{ nav.name }}</a>
    </li>
    {% endfor %}
    </ul>                                                
    <ul class="nk-nav nk-nav-right nk-nav-icons">
    <li class="single-icon d-lg-none">
    <a href="#" class="no-link-effect" data-nav-toggle="#nk-nav-mobile">
    <span class="nk-icon-burger">
    {% for icon in site.data.nav.icons %}<span class="{{ icon.name }}"></span>
    {% endfor %}</span>
    </a>
    </li>
    </ul>
    </div>
    </div>
    </nav>