<nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-autohide">
    <div class="container">
    <div class="nk-nav-table">
    <a href="https://wp.nkdev.info/squadforce/" class="nk-nav-logo"><img src="{{ site.imglogo }}" style="width: 197px; height: auto;" alt="" /></a>
    <ul id="menu-main-menu" class="nk-nav nk-nav-right d-none d-lg-table-cell" data-nav-mobile="#nk-nav-mobile">
    {% for nav in site.data.nav.nav1 %}
    <li id="menu-item-{{ nav.id }}" class="{{ nav.class }} ghost_menu__item--{{ nav.id }} menu-item-{{ nav.id }}"><a {% if nav.linktarget And nav.linktarget != "" And nav.linktarget != nil %}target="{{ nav.linktarget }}" {% endif %}href="{{ nav.link }}">{{ nav.name }}</a>
    {% if nav.submenu And nav.submenu != "" And nav.submenu != nil %} 
    <ul class="dropdown sub-menu">
    {% for menu in nav.submenu %}
    <li id="menu-item-{{ menu.id }}" class="{{ menu.class }} ghost_menu__item--{{ menu.id }} menu-item-{{ menu.id }}"><a {% if menu.linktarget And menu.linktarget != "" And menu.linktarget != nil %}target="{{ menu.linktarget }}" {% endif %}href="{{ menu.link }}">{{ menu.name }}</a>
<!--submenu1-->
{% if menu.submenu And menu.submenu != "" And menu.submenu != nil %} 
    <ul class="dropdown sub-menu">
    {% for menusub in menu.submenu %}
    <li id="menu-item-{{ menusub.id }}" class="{{ menusub.class }} ghost_menu__item--{{ menusub.id }} menu-item-{{ menusub.id }}"><a {% if menusub.linktarget And menusub.linktarget != "" And menusub.linktarget != nil %}target="{{ menusub.linktarget }}" {% endif %}href="{{ menusub.link }}">{{ menusub.name }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
<!--end-->
</li>
    {% endfor %}
    </ul>
    {% endif %}
    </li>
    {% endfor %}
    </ul>                                                
    <ul class="nk-nav nk-nav-right nk-nav-icons">
    <li class="single-icon d-lg-none">
    <a href="#" class="no-link-effect" data-nav-toggle="#nk-nav-mobile">
    <span class="nk-icon-burger">
    {% for icon in site.data.nav.icons %}<span class="{{ icon.name }}"></span>
    {% endfor %}</span>
    </a>
    </li>
    </ul>
    </div>
    </div>
    </nav>