<!-- START: Navbar Mobile -->
<div id="nk-nav-mobile" class="nk-navbar nk-navbar-side d-lg-none nk-navbar-right-side nk-navbar-overlay-content">
    <div class="nano">
    <div class="nano-content">
    <a href="https://wp.nkdev.info/squadforce/" class="nk-nav-logo">
    <img src="/images/logo.svg" style="width: 120px; height: auto;" alt="" />            </a>
    <div class="nk-navbar-mobile-content">
    <ul class="nk-nav">
    <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
    </ul>
    </div>
    </div>
    </div>
    </div>
    <!-- END: Navbar Mobile -->