<div class="lazyblock-squadforce-news-box-list-Nsd3R wp-block-lazyblock-squadforce-news-box-list">        
    <div class="nk-news-box">
    <div class="nk-news-box-list">
    <div class="nano">
    <div class="nano-content">
    <div class="nk-news-box-item nk-news-box-item-active">
    
    <div class="nk-news-box-item-img">
    <noscript><img decoding="async" data-skip-lazy src="/images/post-41-300x169.jpg" alt=""></noscript><img decoding="async" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTcwIiBoZWlnaHQ9IjU0NSIgdmlld0JveD0iMCAwIDk3MCA1NDUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PC9zdmc+" alt data-src="/images/post-41-300x169.jpg" data-sizes="auto" loading="eager" class="vp-lazyload">
    </div>
    <noscript><img decoding="async" data-skip-lazy src="/images/post-41.jpg" alt="" class="nk-news-box-item-full-img"></noscript><img decoding="async" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTcwIiBoZWlnaHQ9IjU0NSIgdmlld0JveD0iMCAwIDk3MCA1NDUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PC9zdmc+" alt class="nk-news-box-item-full-img vp-lazyload" data-src="/images/post-41.jpg" data-sizes="auto" loading="eager">
    <h3 class="nk-news-box-item-title">Lesser years third in you&#8217;re rule</h3>
    <span class="nk-news-box-item-categories"><a style="background-color:#38a220;" href="https://wp.nkdev.info/squadforce/category/strategy/">Strategy</a></span>
    <div class="nk-news-box-item-text">
    <p>Our them creepeth living saw they&#8217;re. Unto itself over made every fish make were blessed&#8230;</p>
    </div>
    <a href="https://wp.nkdev.info/squadforce/for-good-too-though-in-consequence/" class="nk-news-box-item-url">Read More</a>
    <div class="nk-news-box-item-date"><span class="fa fa-calendar"></span> September 12, 2019 </div>
    </div>
    <div class="nk-news-box-item">
    
    <div class="nk-news-box-item-img">
    <noscript><img decoding="async" data-skip-lazy src="/images/post-31-300x169.jpg" alt=""></noscript><img decoding="async" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjQ1MCIgdmlld0JveD0iMCAwIDgwMCA0NTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PC9zdmc+" alt data-src="/images/post-31-300x169.jpg" data-sizes="auto" loading="eager" class="vp-lazyload">
    </div>
    <noscript><img decoding="async" data-skip-lazy src="/images/post-31.jpg" alt="" class="nk-news-box-item-full-img"></noscript><img decoding="async" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjQ1MCIgdmlld0JveD0iMCAwIDgwMCA0NTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PC9zdmc+" alt class="nk-news-box-item-full-img vp-lazyload" data-src="/images/post-31.jpg" data-sizes="auto" loading="eager">
    <h3 class="nk-news-box-item-title">We found a witch! May we burn her?</h3>
    <span class="nk-news-box-item-categories"><a style="background-color:#1464d2;" href="https://wp.nkdev.info/squadforce/category/racing/">Racing</a></span>
    <div class="nk-news-box-item-text">
    <p>Days. Heaven. Fruit fly and to, set heaven. Bearing which whose isn&#8217;t cattle kind moveth&#8230;</p>
    </div>
    <a href="https://wp.nkdev.info/squadforce/we-found-a-witch-may-we-burn-her-2/" class="nk-news-box-item-url">Read More</a>
    <div class="nk-news-box-item-date"><span class="fa fa-calendar"></span> September 6, 2019 </div>
    </div>
    <div class="nk-news-box-item">
    
    <div class="nk-news-box-item-img">
    <noscript><img decoding="async" data-skip-lazy src="/images/post-51-300x188.jpg" alt=""></noscript><img decoding="async" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDQwIiBoZWlnaHQ9IjI3NSIgdmlld0JveD0iMCAwIDQ0MCAyNzUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PC9zdmc+" alt data-src="/images/post-51-300x188.jpg" data-sizes="auto" loading="eager" class="vp-lazyload">
    </div>
    <noscript><img decoding="async" data-skip-lazy src="/images/post-51.jpg" alt="" class="nk-news-box-item-full-img"></noscript><img decoding="async" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDQwIiBoZWlnaHQ9IjI3NSIgdmlld0JveD0iMCAwIDQ0MCAyNzUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PC9zdmc+" alt class="nk-news-box-item-full-img vp-lazyload" data-src="/images/post-51.jpg" data-sizes="auto" loading="eager">
    <h3 class="nk-news-box-item-title">Creepeth you&#8217;re a behold heaven</h3>
    <span class="nk-news-box-item-categories"><a style="background-color:#22a2b1;" href="https://wp.nkdev.info/squadforce/category/mmo/">MMO</a></span>
    <div class="nk-news-box-item-text">
    <p>Abundantly brought blessed subdue in beginning blessed man image, sea likeness creeping. Air said Bring&#8230;</p>
    </div>
    <a href="https://wp.nkdev.info/squadforce/he-made-his-passenger-captain-of-one-3/" class="nk-news-box-item-url">Read More</a>
    <div class="nk-news-box-item-date"><span class="fa fa-calendar"></span> September 6, 2019 </div>
    </div>
    <div class="nk-news-box-item">
    
    <div class="nk-news-box-item-img">
    <noscript><img decoding="async" data-skip-lazy src="/images/post-9-300x214.jpg" alt=""></noscript><img decoding="async" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE5MCIgaGVpZ2h0PSI4NDgiIHZpZXdCb3g9IjAgMCAxMTkwIDg0OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48L3N2Zz4=" alt data-src="/images/post-9-300x214.jpg" data-sizes="auto" loading="eager" class="vp-lazyload">
    </div>
    <noscript><img decoding="async" data-skip-lazy src="/images/post-9.jpg" alt="" class="nk-news-box-item-full-img"></noscript><img decoding="async" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE5MCIgaGVpZ2h0PSI4NDgiIHZpZXdCb3g9IjAgMCAxMTkwIDg0OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48L3N2Zz4=" alt class="nk-news-box-item-full-img vp-lazyload" data-src="/images/post-9.jpg" data-sizes="auto" loading="eager">
    <h3 class="nk-news-box-item-title">Doesn&#8217;t bring moveth you&#8217;re was</h3>
    <span class="nk-news-box-item-categories"><a style="background-color:#dd163b;" href="https://wp.nkdev.info/squadforce/category/action/">Action</a></span>
    <div class="nk-news-box-item-text">
    <p>All. Us kind don&#8217;t. Won&#8217;t them firmament night fly also give creature female them creature&#8230;</p>
    </div>
    <a href="https://wp.nkdev.info/squadforce/he-made-his-passenger-captain-of-one-2/" class="nk-news-box-item-url">Read More</a>
    <div class="nk-news-box-item-date"><span class="fa fa-calendar"></span> September 6, 2019 </div>
    </div>
    <div class="nk-news-box-item">
    
    <div class="nk-news-box-item-img">
    <noscript><img decoding="async" data-skip-lazy src="/images/post-71-300x169.jpg" alt=""></noscript><img decoding="async" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTg1IiBoZWlnaHQ9IjMzMCIgdmlld0JveD0iMCAwIDU4NSAzMzAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PC9zdmc+" alt data-src="/images/post-71-300x169.jpg" data-sizes="auto" loading="eager" class="vp-lazyload">
    </div>
    <noscript><img decoding="async" data-skip-lazy src="/images/post-71.jpg" alt="" class="nk-news-box-item-full-img"></noscript><img decoding="async" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTg1IiBoZWlnaHQ9IjMzMCIgdmlld0JveD0iMCAwIDU4NSAzMzAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PC9zdmc+" alt class="nk-news-box-item-full-img vp-lazyload" data-src="/images/post-71.jpg" data-sizes="auto" loading="eager">
    <h3 class="nk-news-box-item-title">Tree set gathering moved place</h3>
    <span class="nk-news-box-item-categories"><a style="background-color:#dd163b;" href="https://wp.nkdev.info/squadforce/category/action/">Action</a></span>
    <div class="nk-news-box-item-text">
    <p>His Brought green without stars seasons great itself all fly. Brought midst isn&#8217;t tree itself&#8230;</p>
    </div>
    <a href="https://wp.nkdev.info/squadforce/at-length-one-of-them-called-out-in-a-clear-2/" class="nk-news-box-item-url">Read More</a>
    <div class="nk-news-box-item-date"><span class="fa fa-calendar"></span> September 6, 2019 </div>
    </div>
    </div>
    </div>
    </div>
    <div class="nk-news-box-each-info">
    <div class="nano">
    <div class="nano-content">
    <!-- There will be inserted info about selected news-->
    <div class="nk-news-box-item-image">
    <noscript><img decoding="async" width="970" height="545" data-skip-lazy src="/images/post-41.jpg" class="attachment-large size-large" alt="" loading="lazy" /></noscript><img decoding="async" width="970" height="545" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTcwIiBoZWlnaHQ9IjU0NSIgdmlld0JveD0iMCAwIDk3MCA1NDUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PC9zdmc+" class="attachment-large size-large vp-lazyload" alt loading="eager" data-src="/images/post-41.jpg" data-sizes="auto">                                <span class="nk-news-box-item-categories"><a href="https://wp.nkdev.info/squadforce/category/strategy/">Strategy</a></span>
    </div>
    
    <h3 class="nk-news-box-item-title">Lesser years third in you&#8217;re rule</h3>
    <div class="nk-news-box-item-text">
    <p>Our them creepeth living saw they&#8217;re. Unto itself over made every fish make were blessed&#8230;</p>
    </div>
    <a href="https://wp.nkdev.info/squadforce/for-good-too-though-in-consequence/" class="nk-news-box-item-more">Read More</a>
    <div class="nk-news-box-item-date">
    <span class="fa fa-calendar"></span> September 12, 2019                         </div>
    </div>
    </div>
    </div>
    </div>
    </div>