{% include divbegin.html var="lazyblock-squadforce-image-slider-Z1ycMOS wp-block-lazyblock-squadforce-image-slider" %}        
    {% include divbegin1.html var="nk-image-slider" var1="8000" %}
    <div class="nk-image-slider-item">
    <noscript><img decoding="async" data-skip-lazy src="/images/slide-11.jpg" alt="" class="nk-image-slider-img" data-thumb="/images/slide-11-150x150.jpg"></noscript><img decoding="async" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIHZpZXdCb3g9IjAgMCAxMjAwIDY3NSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48L3N2Zz4=" alt class="nk-image-slider-img vp-lazyload" data-thumb="/images/slide-11-150x150.jpg" data-src="/images/slide-11.jpg" data-sizes="auto" loading="eager">
    <div class="nk-image-slider-content">
    <h3 class="h4">As we Passed, I remarked</h3>
    <p class="text-white">As we passed, I remarked a beautiful church-spire rising above some old elms in the park; and before them, in the midst of a lawn, chimneys covered with ivy, and the windows shining in the sun.</p>
    <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">
    Read More                        </a>
    </div>
    </div>
    <div class="nk-image-slider-item">
    <noscript><img decoding="async" data-skip-lazy src="/images/slide-21.jpg" alt="" class="nk-image-slider-img" data-thumb="/images/slide-21-150x150.jpg"></noscript><img decoding="async" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIHZpZXdCb3g9IjAgMCAxMjAwIDY3NSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48L3N2Zz4=" alt class="nk-image-slider-img vp-lazyload" data-thumb="/images/slide-21-150x150.jpg" data-src="/images/slide-21.jpg" data-sizes="auto" loading="eager">
    <div class="nk-image-slider-content">
    <h3 class="h4">He made his passenger captain of one</h3>
    <p class="text-white">Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose. But the concern I have most at heart is for our Corporation of Poets, from whom I am preparing a petition to your Highness,  to be subscribed with the names of one&#8230;</p>
    </div>
    </div>
    <div class="nk-image-slider-item">
    <noscript><img decoding="async" data-skip-lazy src="/images/slide-41.jpg" alt="" class="nk-image-slider-img" data-thumb="/images/slide-41-150x150.jpg"></noscript><img decoding="async" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIHZpZXdCb3g9IjAgMCAxMjAwIDY3NSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48L3N2Zz4=" alt class="nk-image-slider-img vp-lazyload" data-thumb="/images/slide-41-150x150.jpg" data-src="/images/slide-41.jpg" data-sizes="auto" loading="eager">
    <div class="nk-image-slider-content">
    <h3 class="h4">At length one of them called out in a clear</h3>
    <p class="text-white">TJust then her head struck against the roof of the hall: in fact she was now more than nine feet high&#8230;</p>
    <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">
    Read More                        </a>
    </div>
    </div>
    <div class="nk-image-slider-item">
    <noscript><img decoding="async" data-skip-lazy src="/images/slide-51.jpg" alt="" class="nk-image-slider-img" data-thumb="/images/slide-51-150x150.jpg"></noscript><img decoding="async" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2NzUiIHZpZXdCb3g9IjAgMCAxMjAwIDY3NSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48L3N2Zz4=" alt class="nk-image-slider-img vp-lazyload" data-thumb="/images/slide-51-150x150.jpg" data-src="/images/slide-51.jpg" data-sizes="auto" loading="eager">
    <div class="nk-image-slider-content">
    <h3 class="h4">For good, too though, in consequence</h3>
    <p class="text-white">She gave my mother such a turn, that I have always been convinced I am indebted to Miss Betsey for having been born on a Friday. The word was appropriate to the moment.
    
    My mother was so much worse that Peggotty, coming in with the teaboard and candles, and seeing at a glance how ill she was, &#8211; as Miss Betsey might have done sooner if there had been light enough, &#8211; conveyed her upstairs to her own room with all speed; and immediately dispatched Ham Peggotty, her nephew, who had been for some days past secreted in the house&#8230;</p>
    <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">
    Read More                        </a>
    </div>
    </div>
    {% include divcontent.html %}
    {% include divend.html %}
{% include divend.html %}