<div id="ghostkit_reusable_widget-6" class="nk-widget nk-widget-highlighted ghostkit-reusable-widget"><h4 class="nk-widget-title"><span>We Are Social</span></h4><div class="lazyblock-squadforce-social-links-Z15qnqH wp-block-lazyblock-squadforce-social-links">                
    <ul class="nk-social-links-3 nk-social-links-cols-4">
    <li>
    <a class="nk-social-twitch" href="#" target="">
    <span class="fab fa-twitch"></span>
    </a>
    </li>
    <li>
    <a class="nk-social-instagram" href="#" target="">
    <span class="fab fa-instagram"></span>
    </a>
    </li>
    <li>
    <a class="nk-social-facebook" href="#" target="">
    <span class="fab fa-facebook"></span>
    </a>
    </li>
    <li>
    <a class="nk-social-google-plus" href="#" target="">
    <span class="fab fa-google-plus"></span>
    </a>
    </li>
    <li>
    <a class="nk-social-youtube" href="#" target="">
    <span class="fab fa-youtube"></span>
    </a>
    </li>
    <li>
    <a class="nk-social-tiktok" href="#" target="">
    <span class="fab fa-tiktok"></span>
    </a>
    </li>
    <li>
    <a class="nk-social-twitter" href="#" target="">
    <span class="fab fa-x-twitter"></span>
    </a>
    </li>
    <li>
    <a class="nk-social-rss" href="#" target="">
    <span class="fa fa-rss"></span>
    </a>
    </li>
    </ul>
    </div></div>